[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/alpaka"]
	path = external/alpaka
	url = https://github.com/alpaka-group/alpaka.git
